table {
  @apply w-full border-collapse my-10 mx-auto;
}
th,
td {
  @apply border border-solid border-gray p-2;
}
th {
  @apply bg-light-gray;
}
tr > th:first-child,
td:first-child {
  @apply w-80;
}

.context-menu {
  position: fixed;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 5px;
  border-radius: 4px;
}

.context-menu button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 5px 10px;
}

.context-menu button:hover {
  text-decoration: underline;
}
